<%= link_to 'Games', '/games' %>
<%= link_to 'New Developer', '/developers/new' %>

<h1>Developers:</h1>

<% @developers.each do |developer| %>
<h4><%= developer.name %> Created at: <%= developer.created_at %></h4>
<% end %>
